<div class="row bg-primary text-light m-auto shadow-sm">
  <div class="col-md-4 ms-4 text-start">
    <a href="" class="navbar-brand ">Medlab</a>
  </div>
  <div class="col-md-6 text-end ">
    <a  class="navbar-brand ms-3 cursor" (click)="redirectToCart()"><i class="bi bi-cart2 me-2 fs-5"></i> <span class="cartCount rounded-circle">{{ cardCount | async}}</span> Cart</a>
    <a  class="navbar-brand ms-3">About Us</a>
    <a  class="navbar-brand ms-4 cursor" data-bs-toggle="modal" data-bs-target="#loginModal" #loginBtn *ngIf="!isLoginSuccess" >Login </a>
    <a  class="navbar-brand ms-4 " data-bs-toggle="modal" data-bs-target="#loginModal" *ngIf="isLoginSuccess">{{loggedUserDetails?.userName}}</a>
    
  </div>
</div>

<!-- login Modal -->

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{actionName}}&nbsp; Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #closeBtn></button>
      </div>
      <div class="modal-body">
        <app-signup *ngIf="actionName == 'SignUp'" ></app-signup>
        <app-login *ngIf="actionName == 'SignIn'"(signInSuccess)="handleLoginSuccess($event)"></app-login>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary m-4" type="button" *ngIf="actionName == 'SignIn'" (click)="changeAction('SignUp')">Signup</button>
        <button class="btn btn-primary m-4" type="button" *ngIf="actionName == 'SignUp'" (click)="changeAction('SignIn')">Login</button>

       
      </div>
    </div>