.cartCount{
    padding: 2px;
    background-color: #f364a7;
    position: relative;
    top: -5px;
    left: -20px;
    font-weight: 400;
    padding-bottom: 1px;
    height: 5px;
    width: 12px;
    border-radius: 20px;
}